.paginationWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


// .ant-pagination .ant-pagination-item-active {
//   background-color: red;
//   color: #f00;
// }
