.logOutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 51px;
  border: 1px solid #000;
  border-radius: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
